@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

html,
body {
  overflow: hidden;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
}
h1,
em,
a {
  font-family: "Comfortaa", sans-serif;
}

p,
li {
  font-family: "Comfortaa", sans-serif;
}
h1 {
  font-size: 2em;
  font-weight: 300;
}
h2 {
  font-weight: 300;
  font-size: 1.2em;
}
p,
li {
  font-size: 1em;
  font-weight: 700;
}
ul,
ol {
  margin-left: 2em;
}

main {
  position: absolute;
  /* round corners */
  border-radius: 10px;
  margin-top: 3em;
  margin-left: 3em;
  padding: 1em;
  z-index: 10;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 400px;
}
main > h1 {
  margin-bottom: 0.5em;
}
main > p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
main > ol {
  margin: 0.25em;
}
main > ol > li {
  margin: 0.2em;
}
a {
  color: aliceblue;
}
main > a {
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 0.3em;
}
main > a:hover {
  color: lightblue;
}
